.body{
	min-height:100vh;
	margin : 0;
	left: 0;
	right: 0;
	width: 100%;
}

.show{
	background-color: white;
	min-height:100vh;
	opacity: 1;
	margin : 0;
	left: 0;
	right: 0;
	width: 100%;
}

.hide{
	opacity: 0.2;
	min-height:100vh;
	margin : 0;
	left: 0;
	right: 0;
	width: 100%;
}

.mainRow{
	background-color: #F5F5F5;
	padding-top: 2%;
	padding-bottom: 2%;
	margin : 0;
	left: 0;
	right: 0;
	width: 100%;
}

.primaryBackground{
	background-color: #656684;
}

.seconderyBackground{
	background-color: #ffa257;
}

.primaryColor{
	color: #656684;
}

.seconderyColor{
	color: #ffa257;
}

.basetxtColor{
	color:white;	
}

.head1{
	height: 100%;
	min-height: 38vh;
	position: relative;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	background-color: black;
	opacity: 0.9;
	margin : 0;
	left: 0;
	right: 0;
	width: 100%;
}

.head1::after{
	height: 100%;
	min-height: 38vh;
	position: absolute;
	background: url("../images/back1.jfif");
	opacity: 0.3;
	padding : 2%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: "";
	z-index: -1;
	min-height: 20%;
	margin : 0;
	left: 0;
	right: 0;
	width: 100%;
}

.mainImg{
	height:100%;
	width: 100%;
	margin-left:0;
	margin-right:0;
	border: 1px solid #ffa257;
}

.featuredRow{
	background-color:white;
	margin-top:0;
	margin-bottom:10px;
	margin-left: 0;
	margin : 0;
	left: 0;
	right: 0;
	width: 100%;
}

.booth{
	padding:0;
	margin-bottom:1px;
	margin-top:1px;
}

.interested{
	margin-bottom:1px;
	margin-top:1px;
	align-items: center;
}

.sbtns{
	cursor:pointer;
	padding-left : 30%;
	padding-right : 30%;
}

.headcontent{
	margin-left:0;
	padding-top: 3%;
}

.typeHeadings{
	padding:0;
	margin-left: 0;
}

.typeDetails{
	background-color:white;
	margin-top:15px;
	margin-left: 0;
}

.homeBtn{
	padding: 0.7%;
	display: inline-block;
	margin-left:40%;
	margin-bottom:1%;
	margin-top:4%;
	width: 20%
}

.fbtns{
	border-color: white;
	display: inline-block;
	margin-left:0;
	background-color:#ffa257;
	border-radius: 7px;
	color:white;
	font-size: 110%;
	margin-bottom:1%;
	margin-top:1%;
	padding: 0.7%;
	width: 20%;
}

.fbtns1{
	padding: 0.7%;
	border-radius: 7px;
	border-color: white;
	display: inline-block;
	background-color:#ffa257;
	color:white;
	font-size: 110%;
	margin-left:1%;
	margin-bottom:1%;
	margin-top:1%;
	width: 20%;
}

.fbtns3{
	padding: 0.7%;
	border-radius: 7px;
	border-color: white;
	display: inline-block;
	background-color:#ffa257;
	color:white;
	font-size: 110%;
	margin-left:1%;
	margin-bottom:1%;
	margin-top:1%;
	width: 25%;
}

.fbtns2{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 5%;
	padding-left: 5%;
	border-radius: 7px;
	border-color: white;
	display: inline-block;
	background-color:#ffa257;
	color:white;
	font-size: 110%;
	margin-top:7%;
	width: 70%;
}

.selectionBtn{
	width: 20%;
	border : 0.1px solid #d3d3d3;
	background-color: white;
	color: #656684;
}

.bodytags{
	margin-right: 1%;
	border-radius : 3px;
	padding-left:1%;
	padding-right: 1%;
	font-size: 0.9rem;
	font-weight: bold;
	background-color : #ffa257;
	border:#ffa257;
	color:white;
}

.extraImgs{
	width : 50%;
	padding-left:5%;
	padding-right : 5%;
	padding-top : 2%;
	padding-bottom : 2%;
}

img.extraImgs{
	display: inline;
}

.clrBrdr{
	border-bottom : 3px solid #ffa257;
}

.tst{
	border: 1 px solid red;
}

.related{
	border-bottom: 2px solid #ffa257;

}

.cityEvents{
	margin-top: 0;
	text-align: center;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 10%;
	margin-right:2%;
	border : 1px solid white;
	background-color: white;
}

.relatedEvents{	
	margin-top: 0;
	text-align: center;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 10%;
	margin-left: 2%;
	border : 1px solid white;
	background-color: white;
}

.ads{
	margin-top: 0;
	text-align: center;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 10%;
	margin-left: 2%;
	margin-bottom: 10%;
	border : 1px solid white;
	background-color: white;
}

.colHeadings{
	text-align: center;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	color: #ffa257;
}

.eventDate{
	font-size: 0.9rem;
	width : 40%
}

.eventName{
	font-size: 0.9rem;
	width : 60%
}

.relatedEventsData{
	cursor: pointer;
}

.goingCount{
	background-color: #656684;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 20px;
	float: right;
}

.socialIconsDivShow{
	width : 30%;
	height : auto;
	margin-left: 32%;
	margin-top: 10%;
	border: 2px solid #ffa257;
	position: fixed;
	z-index: 2;
	background-color: white;
	display: block;
	padding-bottom: 2%;
}

.socialIconsDivHide{
	display: none;
}

.socialIcons{
	padding-top: 1%;
	padding-left: 1%;
}

.socialIcons1{
	padding-top: 2.8%;
	padding-left: 1%;
}

.inviteText{
	text-align: center;
	padding : 5%;
	font-size: 1.3rem;
}

.cross:hover{
	cursor: pointer;
}

.loading{
	text-align: center;
	color:#ffa257;
	padding-top: 5%;
}

.loaderComponent{
	text-align: center;
	height:100vh;
	min-height:100vh;
}
.event_desc_container{
	padding: 3%;
}

.showImageSlider{
	width : 70%;
	height : 80%;
	margin-left: 15%;
	margin-top: 5%;
	border: 5px solid #ffa257;
	position: fixed;
	z-index: 2;
	background-color: white;
	display: block;
}

.hideImageSlider{
	display: none;
}

.carouselImage{
	height : 76vh;
}

.sliderClosebtn{
	background-color: #ffa257;
	color: #656684;
}

.disabledClick{
	pointer-events: none;
}

.enabledClick{
	pointer-events: all;
}

@media screen and (max-width: 1130px) {
	.homeBtn{
		width : 30%
	}
	.fbtns2{
		margin-top: 5%;
	}
}

@media screen and (max-width: 770px) {
	.head1{
		padding-left: 5%;
		padding-right: 3%;
	}
	.socialIconsDivShow{
		padding-left: 5%;
		width : 70%;
		height : 80%;
		margin-left: 15%;
		margin-top: 5%;
		border: 2px solid #ffa257;
		position: fixed;
		z-index: 2;
		background-color: white;
		display: block;
		padding-bottom: 2%;
	}
	.socialIcons{
		padding-top: 1%;
		padding-left: 40%;
	}
	.featuredRow{
		padding-left: 4%;
	}
	.interested{
		padding-left: 0;
	}
	.cityEvents{
		margin-left: 1%;
		margin-right: 1%;
	}
	.mainData{
		margin-top: 2%;
		margin-left: 1%;
		margin-right: 4%;
	}
	.relatedEvents{
		margin-top: 2%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.ads{
		margin-left: 1%;
		margin-right: 1%;
	}
	.homeBtn{
		width: 20%;
		margin-left: 40%;
		height: 70%;
	}
	.fbtns{
		width: 27%;
	}
	.fbtns1{
		width: 27%;
	}
	.fbtns3{
		width: 40%;
	}
	.fbtns2{
		margin-top: 0;
		width: 99%;
	}
}