.primaryBackground{
	background-color: #656684;
}

.footerMainDiv{
	padding-top: 2%;
	width: 100%;
	margin-left: 0;
	left: 0;
}

.tinyTxt{
	font-size: 0.8rem;
	color: white;
}

.tinyTxt1{
	font-size: 1rem;
	color: white;
}

.s_icons{
	margin-left: 5%;
}

.inlineDisplay{
	display: inline;
}

.quickLinks{
	display: block;
	color: white;
}

a.quickLinks{
	color: white;
	font-size:15px;
}

.footerData2{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
	margin-left: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
	.footerData1{
		padding-top: 2%;
		padding-left: 4%;
	}
	.footerData2{
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 2%;
		background: rgba(0, 0, 0, 0.3);
		margin-top: 2%;
	}
}