.homeHeader{
  position: relative;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-right: 0;
  padding-left: 0;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  margin-left: 0;
  left: 0;
}

.homeHeader::after{
  position: absolute;
  background: url("../images/back1.jfif");
  opacity: 0.3;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-right: 0;
  padding-left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  z-index: -1;
  width: 100%;
}

.body{
  background-color: #f0f0f0;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.primaryBackground{
  background-color: #656684;
}

.seconderyBackground{
  background-color: #ffa257;
} 

.primaryColor{
  color: #656684;
}

.seconderyColor{
  color: #ffa257;
}

.newBtn{
  background-color:#ffa257;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-color:#ffa257;
  margin-left:10px; 
  width: 30%;
  padding:5px;
}

.cardImg{
	width:90%;
	height:60%;
	text-align: center;
	margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
} 

.sbar{
  padding:5px;
  width: 60%;
}

.first{
  text-align: center;
}

.main{
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;

}

.main1{
  display: inline;
  color: #ffa257;
}

#one{
  color: white;
  text-align: center;
}
#one1{
  font-size: 70%;
  color: white;
}

.featuredRowHome{
  margin-bottom: 1%;
  margin-left: 0;
  left: 0;
  width: 100%;
  padding-left: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.1%;
}


.featured{
  color: #656684;
  font-size: 14px;
}

.dataRowHome{
  width:100%;
  margin:0;
  left: 0;
  right: 0;
  padding-left: 1%;
}

.tagsFilter{
  background-color: white;
  height: auto;
  margin-bottom: 15px;
  width : 94%;
  margin-left: 3%;
  margin-right: 3%;
  border-bottom:2px solid #656684;
}


.citiesFilter{
  background-color: white;
  height: auto;
  border-bottom:2px solid #656684;
  padding-bottom: 5%;
  margin-right: 3%;
  margin-left: 3%;
}

.categoryFilter{
  background-color: white;
  height: auto;
  border-bottom:2px solid #656684;
  margin-right: 3%;
  margin-left: 3%;
}

.addsHome{
  height: auto;
  background-color: white;
  border-bottom:2px solid #656684;
  padding-bottom: 5%;
  margin-bottom: 10%;
  margin-right: 3%;
  margin-left: 3%;
}

.structure{
  margin-bottom: 20px;
  height: 300px;
  margin-left: 2%;
  margin-right: 2%;
}

.t1{
  font-size: 12px;
}

.t2{
  font-size: 12px;
}

.links:hover{
  font-size: 15px;
  cursor:pointer;
}

.listColor{
  color:#656684; 
}

.listColor:hover{
  color:#ffa257; 
}

.listColorActive{
  color:#ffa257; 
}

a:active {
  text-decoration: none;
}

.eventTag{
  color: #656684;
  font-size:  15px;
  margin-left: 5%;
}

.eventTag2{
  margin-left: 5px;
}

h6{
  color: #ffa257;
}

h8{
  color: #ffa257;
}

.ff{
  margin-left: 0px;
}

.footerr{
  margin-bottom: 0%;
}

a.main2{
  color: white;
  font-size:15px;
}

.main2{
  display: block;  
}

.headingsAlign{
  text-align: center;
  background-color: #656684;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.noData{
  text-align: center;
  color:#ffa257;
  margin-top: 5%;
  margin-left: 43%;
  margin-bottom: 5%;
}

.previousBtn{
  padding-left: 40%;
  margin-bottom: 1%;
}

.nextBtn{
  padding-left: 1%;
  margin-bottom: 1%;
}

.noLink{
  cursor: not-allowed !important;
}

.newLink{
  cursor: pointer; 
}

@media screen and (max-width: 1130px) {

}

@media screen and (max-width: 770px) {

}